aioboto3
httpx
fastapi==0.110.3
jinja2
python-multipart
uvicorn
redis
websockets
websocket-client
anthropic
openai
PyYAML
PyJWT
pytest-asyncio
pytz
prometheus-client
protobuf==6.31.1
numpy
soundfile
elevenlabs
boto3
watchtower
pymongo
